  @font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard'), url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

@media (max-width:567px) {
    .submenu { padding: 0px 0px 0px 0px; }    
}

body, footer, p, h1, h2, page, header, a {font-family: 'Pretendard';}

a:-webkit-any-link {text-decoration: none;}
p {font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #000000;}
.page {	font-family: 'Pretendard';}

.pagination a {font-size: 16px; color:black; font-weight: 400;}
.footer-1 {
    padding-bottom: 10px;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: white;
}
.footer-2 {
    padding: 0 20%;
    font-family: 'Pretendard';
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: white;
}
h2{ font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #000000;    
}
hr { height: 1px; background-color: #000; border: 0 none; }
hr {margin-bottom: 20px;}
h2 a{
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

li {list-style-type: none;}
ul {padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;}

.page{    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;}
.header{
    text-align: center;
    width: 100%;
    display: block;
    padding: 45px 10px 10px 10px;
}
.logo {
    max-width: 140px;
    width: 15vh;
    margin-bottom: 2em;
}
.title-kr{
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #404040;
    
}
.title-en{
    font-size: 18px;
    line-height: 140%;
    color: #404040;
}

.macu {
    text-align: center;
}
.macu .logo {max-width: 70px;
padding:30px}

.cat-우리마을기록관 {
    position: relative;
    top: 33px;
    left: 0px;
    z-index: 99;
    background: #F5B051;
    width: fit-content;
    padding: 6px 14px;
    color: white;
    font-weight: 600;
    border: #F5B051 1px solid;
    border-radius: 3px 0 12px 0px;
}

.cat-인근도서관 {
    position: relative;
    top: 33px;
    left: 0px;
    z-index: 99;
    background: #2997CD;
    width: fit-content;
    padding: 6px 14px;
    color: white;
    font-weight: 600;
    border: #2997CD 1px solid;
    border-radius: 3px 0 12px 0px;
}

.cat-프로그램 {
    position: relative;
    top: 33px;
    left: 0px;
    z-index: 99;
    background: #48B9B1;
    width: fit-content;
    padding: 6px 14px;
    color: white;
    font-weight: 600;
    border: #48B9B1 1px solid;
    border-radius: 3px 0 12px 0px;
}

.titlebox { display: inline-flex; align-items: center;gap:10px}

.writer {font-size:14px; font-weight: 600;margin-top: -8px;}
.description {margin-top:10px}

.cat-programs {font-weight: bold; font-size: 16px; color: #F5B051; !important}
.cat-village {font-weight: bold; font-size: 16px; color: #2997CD; !important}
.cat-library {font-weight: bold; font-size: 16px; color: #48B9B1; !important}

.creditbox {display: inline-flex;}
.date {font-weight: normal; font-size: 16px; color: #505050; padding-bottom: 5px;}

.mainmenu{padding-top: 50px; margin-bottom: 30px;}
.mainmenu ul{display: flex;justify-content: center; flex-wrap: wrap;}
.mainmenu li{width: auto;}
.mainmenu a{
    font-size: 16px;
    text-align: center;
    padding:8px;
    display: inline;
    margin-bottom: 4px;
    margin-right: 10px;
}
.cat_슈필라움소개 {border: 1px solid #0063A6; color: #0063A6}
.cat_인근도서관{border: 1px solid #2997CD; color: #2997CD}
.cat_우리마을기록관{border: 1px solid #F5B051; color: #F5B051}
.cat_프로그램{border: 1px solid #48B9B1; color: #48B9B1}

.cat_슈필라움소개:hover {border: 1px solid #0063A6; background-color: #0063A6; color:white;}
.cat_인근도서관:hover {border: 1px solid #2997CD; background-color: #2997CD; color:white;}
.cat_우리마을기록관:hover {border: 1px solid #F5B051; background-color: #F5B051; color:white;}
.cat_프로그램:hover {border: 1px solid #48B9B1; background-color: #48B9B1; color:white;}

.submenu {
    padding: 10px 7vw 10px 7vw;
    display: block;
}
.container {
    background-color: #dddddd;
    width: 50vw;
    display: block;
  }
.postcontainer {
    padding: 0 0 30px 0;
    width: 1080px;
    max-width: 90vw;
    display: block;
  }

.arrow{
    height: 12px;
    display: none;
}

.thumbnail{
    border-radius: 3px;
    margin-bottom: 12px;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.parent-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.child-preview{
    flex: 1 0 20%;
    max-width: 300px;
    margin: 10px 10px;
}

.tags{display: inline-flex;gap:4px}
.tag {
    font-size: 16px;
    margin-right:5px;
}

.tag_interview{
    color:#2997CD;
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #2997CD;
    width: fit-content;
}
.tag_interview span{display:none;}
.tag_interview:after {content:"인터뷰";}
.tag_interview:hover{
    background-color: #2997CD;
    color:white;
}

.tag_mybook{
    color:#1CA783;
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #1CA783;
    width: fit-content;
}
.tag_mybook span{display:none;}
.tag_mybook:after {content:"인생서가";}
.tag_mybook:hover{
    background-color: #1CA783;
    color:white;
}

.tag_jeonnong{
    color:#F5B051;
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #F5B051;
    width: fit-content;
}
.tag_jeonnong span{display:none;}
.tag_jeonnong:after {content:"전농동";}
.tag_jeonnong:hover{
    background-color: #F5B051;
    color:white;
}

.tag_about{
    color:#DB3B52;
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #DB3B52;
    width: fit-content;
}
.tag_about span{display:none;}
.tag_about:after {content:"소개";}
.tag_about:hover{
    background-color: #DB3B52;
    color:white;
}

.tag_library{
    color:#48B9B1;
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #48B9B1;
    width: fit-content;
}
.tag_library span{display:none;}
.tag_library:after {content:"도서관";}
.tag_library:hover{
    background-color: #48B9B1;
    color:white;
}

.moretext{
    padding: 5px 7px 4px 7px;
    font-size: 0.9em;
    background-color: #F5B051;
    margin-bottom: 10px;
    color: black;
}
.footer {
    background: #0063A6;
    padding: 50px 3vw 50px 3vw;
}

.postcontainer p{ padding: 0 15%; font-size: 1em;}

@media screen and (max-width: 768px) {

    body, footer, p, h1, h2, page, header, a {font-family: 'Pretendard';}

    .footer-2 {padding: 0;}
    .submenu{
        padding: 10px 0;
    }
    .parent-preview{
        flex-direction: column;
    }
    .child-preview{
        max-width: 100%;
    } 
    .postcontainer p {
        padding: 0;
    }
    .thumbnail{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .mainmenu li{
        width: 100%;

    }
    .mainmenu a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
    }
    .arrow{
        display: inline;
    }
    .mainmenu{margin-bottom: -30px;}

}

