{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}



<div class="submenu">
<div class="parent-preview">

    
    {% for x in story %}
    <div class="child-preview">
        <hr style="margin-bottom: -10px;">
    <div>
        <a href="{{x.get_absolute_url}}">
           <img class="thumbnail" style="max-width: 100%" src="{{x.thumbnail.url}}"/>
        </a>
    </div>
    <div href="{{x.get_absolute_url}}"><span style="display: inline;" class="cat-{{x.category.slug}}">{{x.category}}. </span><h2 style="display:inline">{{x.title}}</h2></div>
    <p class="description">{{x.des}}</p>
    <p class="writer">{{x.publish|date:"Y년 m월d일"}}, {{x.writer}} 기록</p>
    <div class="tags">
        {% for tag in x.tags.all %}
        <a href='{% url "story:story_by_tag" tag.slug %}' class="tag_{{tag.name}}">
            <span>{{tag.name}}<span>
        </a>
        {% if not forloop.last %}{% endif %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    
</div>
<hr style="margin-top: 50px;">
<div>
    <h3 style="text-align: center;">{% include 'pagination.html' with page=story %}</h3></div>

</div>

{% endblock %}