{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class='postcontainer'>
    <p style="padding-top: 45px;
    border-top: 1px solid #505050; 
    margin-top:30px; word-break: keep-all;text-align: center; font-weight: bold; font-size: 22px; color: #404040; line-height: 160%;">{{story.title}}</p>
    <p style="word-break: keep-all;text-align: center; font-weight: bold; font-size: 16px; color: #404040;">{{story.category}}</p>
    <p style="word-break: keep-all;text-align: center; font-weight: normal; font-size: 16px; color: #404040; line-height: 0%;">{{story.publish}}</p>
    <p style="word-break: keep-all;text-align: center; font-weight: normal; font-size: 16px; color: #404040; line-height: 160%;">기록 {{story.writer}}</p>
    <p style="word-break: keep-all;text-align: center; font-weight: normal; font-size: 16px; line-height: 160%; padding-bottom: 30px;">{{story.des}}</p>
    <p class="lead" style="margin-bottom: 25px;">{{story.body|safe}}</p>
</div>
{% endblock %}