{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}



<div class="submenu">
<div class="parent-preview">

    
    {% for x in story %}
    <div class="child-preview">
        <hr>
        <div class="date">{{x.publish|date:"Y-m-d"}}</div>
        <div class="cat-{{x.category.slug}}">{{x.category}}</div>
    <div>
        <a href="{{x.get_absolute_url}}">
           <img class="thumbnail" style="max-width: 100%" src="{{x.thumbnail.url}}"/>
        </a>
    </div>
    <!---
    {% for tag in x.tags.all %}
    <a class="tag" href='{% url "story:story_by_tag" tag.slug %}' id="tag_{{tag.name}}">
        {{tag.name}}
    </a>
    {% if not forloop.last %}{% endif %}
    {% endfor %}-->
    <a href="{{x.get_absolute_url}}"><h2>{{x.title}}</h2></a>
    <p>{{x.des}}</p>
    </div>
    {% endfor %}
    
</div>
<hr style="margin-top: 50px;">
<div>
    <h3 style="text-align: center;">{% include 'pagination.html' with page=story %}</h3></div>

</div>

{% endblock %}